/* h1{
color: aqua;
}
p{

    color:red;

}
button{
    color:red;
    background-color: green;
  
}
body{
    background-color:white;
} */

/* universal selectors
*{
    color:pink;
} */


 /* element_selector
h1{
    color:green;
} */

 /* id selector
#a{
    color:chocolate
}
#b{
    color:aqua;
}
#c{
    color:blue;
} */


/* class_selector
.myclass{
    color:brown;
} */


 /* text_align_properties_practice
p{
    text-align: center;
    text-align: right;
    text-align:left ;
} 
h1{
    text-align: center;
} */

/* 
    text_decoration_properties
a{
    text-decoration:none;
    color:red;
} */


/* font_weight_proprerties
#h1{
    font-weight: normal;
}
#h2{
    font-weight: 900;
}
#h3{

    font-weight: bolder;
}
#h4{
    font-weight: 400;
} */


/* font_family_properties
#one{
    font-family: arial;

}
#two{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */


/* font_size_properties
#pa1{
    font-size: 20px;
    line-height:25px
}
#pa2{
    font-size: 30px;
    line-height:normal;
}
#pa3{
    font-size: 130px;
    line-height:25px;
} */


/* text-transform_practice
#uppercase{
    text-transform: uppercase;
}

#lowercase{
    text-transform: lowercase;
}

#capitalize{
    text-transform: capitalize;
}
#none{
    text-transform: none;
} */


/* div {
    height: 50px;
    background-color: blue;
    width: 200px;
    text-align: right;

    /*shorthand_border_properties
    border-width: 5px;
    border-style: solid;
    border-color: brown;
    border: 5px solid brown;
}

h1{
    width: 200px;
    height: 50px;
    background-color:green;
    text-align: center;
    /* border-width: 3px;
    border-style: dotted;
    border-color: aqua; 

    border: 3px dotted aqua;
    


} */

/* Border_round the conrners of an elements */

/*
div{
    height: 100px;
    width:100px;
    background-color: pink;
    border: 2px solid brown;
     border-radius: 10px;
    border-radius: 50% 
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; 

    shorthand_padding_practice_
    padding : 1px 2px 3px 4px;

    shorthand_margin_practic
    margin:34px;
    margin-top: 50px;
    margin-right: 45px;
    margin-botton: 63px;
    margin-left: 40px;
    margin:30px 40px 50px 60px;
}
    */
 
/* 
    display_properties_like_inline/block/none/inline-block/
    #box2{
        background-color: blue;
        border: 2px;
        margin: 25px;
        padding: 24px;
        border-color: red;
        display: inline;
    } */

    /* div{
        width:100px;
        height: 100px;
        margin: 25px;
        padding: 25px;
        
        
    }
    #boxM{
        // display: none; 
        visibility: hidden;
    } */

    /* div{
        border: 2px;
        width: 100px;
        height: 100px;
        padding: 25px;
        margin: 25px;
        background-color: rgba(255,0,0,0);
        
    } */


    /* Percentage (%)
    #box1 {
        height: 100px;
        width: 100px;
        background-color: green;
    }
    #box2{
        height: 50px;
        width: 30%;
        background-color: yellow;
        margin-left: 10%;

    } */

    /* Em Properties  */
    /* #box1 {
        height: 100px;
        width: 200px;
        background-color: green;
        font-size: 10px;
    }
    #box2{
        height: 50px;
        width: 30%;
        background-color: yellow;
        margin-left: 10%;
        font-size: 2em;
        width: 5em;

    } */

      /* Rem(Root Em )  
    #box1 {
        height: 100px;
        width: 200px;
        background-color: green;
        font-size: 10px;
    }
    #box2{
        height: 50px;
        width: 30%;
        background-color: yellow;
        margin-left: 10%;
        font-size: 2em;
        width: 5rem;

        /* vh and vw
        height: 50vh;
        width: 45vh; 
        
    } */

    /* div{

        height: 100px;
        width: 100px;
        background-color: aqua;
        border: 2px solid black;
        display: inline-block; 
    }

    #box1{

        position: static ;
    }
    
     #box2{

        position: relative;
        top:20px;
        left:10px;

     }
     
     #box3{
        /* position:absolute; */
        /* position:sticky;
        top: 0px;
        left: 20px;
     }
     #box4{

        /* position: fixed;
        bottom: 0;
        width: 100%; */
        /* position: fixed;
        top:0;
      } */
/* 
      div{
        height: 100px;
        width: 100px;
        background-color:aqua ;
        border: 2px solid black;
        display: inline-block;
      }
      #box1{
         background-image: url("box1.jpg");
         background-size: cover;
      }
      #box2{
        background-image: url("box2.jpg");
        background-size: cover;
     }
     #box3{
        background-image: url("box3.jpg");
        background-size: cover;
     }
     #box4{
        background-image: url("box4.webp");
        background-size: cover;
     
     } */

     /* body{
        text-align: center;
     }

     div{
        width: 100px;
        height: 300px;
        display: inline-block;
        border: 2px solid black;
     }

     #container{

        width: 600px;
        height: 600px;
        display: flex; */
        /* flex-direction: row; */
        /* flex-direction:row-reverse; */
        /* flex-direction: column; */
        /* flex-direction:column-reverse */
        /* flex-direction: row;
        justify-content: flex-start ;
        justify-content: flex-end;
        justify-content: center;
        justify-content: space-around; */
        /* flex-direction:row;
        justify-content: center;
        flex-wrap: wrap; */
        /* align-items: flex-start; */
        /* align-items: center;
        align-items: flex-end;
        align-content: center; */
        /* align-content: flex-start; */
        
/* 
     } */

     #box1{
        background-color: aqua;
        flex-grow:1;
     }

     #box2{
        background-color: blue;
        height: 200px;
        flex-grow: 3;
     }
     #box3{
        background-color: yellow;
        height: 75px;
     }
     
     #box4{
        background-color: red;
     }
     
     #box5{
        background-color: green;
     }

       
